*.rst conflict-marker-size=79
*.tiff filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
docs/figures/* !filter !diff !merge text
docs/images/* !filter !diff !merge text
