###############################################################################
###############################################################################
# Stage -- Unit Testing
###############################################################################

.test-setup:
  extends: .shared-setup
  stage: test
  tags:
    - autoscaler
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - !reference [.shared-setup, rules]
  before_script:
    - !reference [.shared-setup, before_script]
    - pip install --root-user-action=ignore --user -U "tox>=4.2" -q

.tox:pytest:
  extends: .test-setup
  parallel:
    matrix:
      - TOX_ENV: [core, opencv, albumentations, pillow, waterdroplet, skimage, doctest, notebooks, unmarked, unmarked-all]
  script:
    # Convert PYTHON_VERSION (3.10) to tox factor (py310) and run specific env
    - tox -e "py${PYTHON_VERSION//./}-${TOX_ENV}"
  artifacts:
    when: always
    paths:
     - ".coverage.*"
    reports:
      junit: ".junit.*.xml"
    expire_in: 1 day

tox:pytest:py3.10:
  extends: .tox:pytest
  image: python:3.10
  variables:
    PYTHON_VERSION: "3.10"

tox:pytest:py3.11:
  extends: .tox:pytest
  image: python:3.11
  variables:
    PYTHON_VERSION: "3.11"

tox:pytest:py3.12:
  extends: .tox:pytest
  image: python:3.12
  variables:
    PYTHON_VERSION: "3.12"

tox:pytest:py3.13:
  extends: .tox:pytest
  image: python:3.13
  variables:
    PYTHON_VERSION: "3.13"

tox:coverage:
  extends: .test-setup
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+(?:\.\d+)?%)/'
  dependencies:
    - tox:pytest:py3.10
    - tox:pytest:py3.11
    - tox:pytest:py3.12
    - tox:pytest:py3.13
  needs:
    - job: tox:pytest:py3.10
      artifacts: true
    - job: tox:pytest:py3.11
      artifacts: true
    - job: tox:pytest:py3.12
      artifacts: true
    - job: tox:pytest:py3.13
      artifacts: true
  before_script:
    - !reference [.shared-setup, before_script]
    # Install dependencies (coverage is in the tests dependency group)
    - poetry sync --only tests -q
  script:
    # Combine all the coverage reports from the pytest matrix into a single
    # database file.
    - poetry run coverage combine ./.coverage.*
    # This converts the now combined `.coverage` database file into a single
    # `coverage.xml` file
    - poetry run coverage xml
    # 90% is defined under JATIC SDP requirements
    - poetry run coverage report --precision=2 --fail-under=90 --skip-covered
  artifacts:
    when: always
    paths:
      - ".coverage"
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    expire_in: 1 day

.tox:notebooks:
  extends: .test-setup
  image: python:3.10
  dependencies: []
  rules:
    # If changes are made to an active merge request.
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: on_success
    - when: never  # explicit fail-exclude terminal condition.
  allow_failure: true
  script:
    - tox -r -m papermill -- "${NOTEBOOK_DIR}/${NOTEBOOK_FILE}" /dev/null

tox:notebooks:examples:
  extends: .tox:notebooks
  parallel:
    matrix:
      - NOTEBOOK_DIR: "docs/examples"
        NOTEBOOK_FILE: [
          "albumentations_perturber.ipynb",
          "nrtk_tutorial.ipynb",
          "optical_perturbers.ipynb",
          "photometric_perturbers.ipynb",
          "pybsm_default_config.ipynb",
          "generative_perturbers.ipynb"
        ]

tox:notebooks:maite:
  extends: .tox:notebooks
  parallel:
    matrix:
      - NOTEBOOK_DIR: "docs/examples/maite"
        NOTEBOOK_FILE: [
          "nrtk_affine_perturbers_demo.ipynb",
          "nrtk_brightness_perturber_demo.ipynb",
          "nrtk_focus_perturber_demo.ipynb",
          "nrtk_haze_perturber_demo.ipynb",
          "nrtk_jitter_perturber_demo.ipynb",
          "nrtk_lens_flare_demo.ipynb",
          "nrtk_radial_distortion_perturber_demo.ipynb",
          "nrtk_sensor_transformation_demo.ipynb",
          "nrtk_turbulence_perturber_demo.ipynb",
          "jatic-perturbations-saliency.ipynb",
          "nrtk_water_droplet_perturber_demo.ipynb"
        ]
