###############################################################################
# Stage -- Build and publish Docker images
###############################################################################
.trigger_containers:
  stage: container
  trigger:
    include: .gitlab-ci/pipelines/.gitlab-container.yml"
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: on_success  # Or "always" if you want it no matter what
    - when: never
  allow_failure: true
  variables:
    PIPELINE_CONTEXT: ""
    CONTAINER_NAME: ""
    DOCKERFILE_FILE: ""

trigger_aukus:
  extends: .trigger_containers
  variables:
    CONTAINER_NAME: "aukus"
    DOCKERFILE_FILE: "Dockerfile"
    PIPELINE_CONTEXT: "$CI_PIPELINE_SOURCE"
